@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.center-children--bg {
  padding-left: 8vw !important;
  padding-right: 8vw !important;

  @include tab-land() {
    padding-left: 6vw !important;
    padding-right: 6vw !important;
  }
}

.center-children--sm {
  padding-left: 6vw !important;
  padding-right: 6vw !important;

  @include tab-land() {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
  }
}

.dark-bg {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.content-btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @include tab-port {
    justify-content: center;
    margin-top: 3rem;
  }

  @include medium-phone {
    gap: 1rem;
  }

  @include small-phone {
    gap: 0.6rem;
  }
}

.white {
  color: white;
}

.accent-color {
  color: $accent-color;
}

.grey-color {
  color: $grey-color;
}

.black-bg {
  box-shadow: $btn-shadow;
  border-radius: $border-radius-rm;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.black-bg:active {
  transform: translateY(2px);
  box-shadow: $btn-shadow--clicked;
}

.black-bg:hover {
  transform: translateY(-2px);
  box-shadow: $btn-shadow--hover;
}

// .dark-bg {
//   box-shadow: $black-shadow;

//   border-radius: $border-radius-rm;
//   transition: transform 0.2s ease, box-shadow 0.2s ease;
// }

// .dark-bg:active {p
//   transform: translateY(2px);
//   box-shadow: $black-shadow--clicked;
// }

// .dark-bg:hover {
//   transform: translateY(-2px);
//   box-shadow: $black-shadow-hover;
// }

.light-shadow {
  box-shadow: $btn-shadow;

  border-radius: $border-radius-rm;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.light-shadow:hover {
  transform: translateY(-2px);
  box-shadow: $btn-shadow--hover;
}

.light-shadow:active {
  transform: translateY(2px);
  box-shadow: $btn-shadow--clicked;
}

.bold {
  font-weight: 700;
}

.white-bg {
  background-color: $white;
}

.textbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;

  .icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include phone {
      width: rem;
      height: 2rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .scissors-left {
    transform: rotate(230deg);
  }

  .scissors-right {
    transform: rotate(-230deg);
  }

  // Style for the X icon in between
  .fa-x {
    font-size: 2rem;
    color: $accent-color;
    display: flex;
    align-items: center;
    justify-content: center;

    @include phone {
      font-size: 1.5rem;
    }
  }
}

// Font
.gridular {
  font-family: 'gridular', sans-serif;
}

.fm {
  font-size: 1.6rem;
}

.fb {
  font-size: 1.8rem;
}

// Text

.pr-tx {
  font-family: $primary-font;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -4%;
  text-transform: uppercase;
}

.p-bg {
  font-size: 18rem !important;
  animation: moveinleft 1s ease-out;

  @include tab-land {
    font-size: 10rem !important;
  }

  @include tab-land--sm {
    font-size: 7.5rem !important;
  }

  @include phone {
    font-size: 6.5rem !important;
    line-height: 1.2;
  }
  @include medium-phone {
    font-size: 5rem !important;
    line-height: 1.2;
  }
}

.s-bg {
  font-size: 16rem !important;
  animation: moveinleft 1s ease-out;

  @include tab-land {
    font-size: 10rem;
  }

  @include tab-port {
    font-size: 6rem !important;
    line-height: 1.2;
  }

  @include phone {
    font-size: 5.5rem !important;
  }

  @include medium-phone {
    font-size: 4rem !important;
  }
}

.hs-md {
  font-family: $primary-font;
  font-weight: 600;
  line-height: 70.4px;
  letter-spacing: -0.03em;
  font-size: 10rem;

  @include tab-land {
    font-size: 6.5rem;
    line-height: 1.4;
  }

  @include phone {
    font-size: 4rem;
  }
  @include medium-phone {
    font-size: 3.5rem;
  }
}
