@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.growth {
  margin: 10rem 0;
  // &_wrapper {
  // }

  &_content {
    .heading-secondary.s-bg {
      line-height: 16rem;
      text-align: center;

      @include tab-port {
        line-height: 4rem;
      }
      .accent-color {
        margin: 1rem 0;
        display: inline-table;
      }
    }

    &--info-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 5rem;
      padding: 8.7rem 8.2rem 4.7rem 8.2rem;
      background: linear-gradient(180deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
      border: 1px solid #333;

      @include big-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 10rem;
      }

      @include phone {
        padding: 3rem 2rem;
      }
    }
    &--update-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
      margin-top: 5rem;
      width: 100%;

      @include big-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 10rem;
      }

      @include phone {
        padding: 3rem 2rem;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10rem;

      @include big-phone {
        justify-content: center;
        align-items: center;
      }

      .textbox {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: left;
        @include big-phone {
          justify-content: center;
          align-items: center;
        }

        a.btn-info {
          display: flex;
          width: fit-content;
          align-items: center;
          justify-content: center;
          font-size: 2.9rem;
          font-weight: 400;
          padding: 1.4rem 2.8rem 0.5rem 2.8rem;
          color: $primary-color;
          background-color: $accent-color;
          border-radius: $border-radius-bg;

          @include phone {
            font-size: 2rem;
          }

          img {
            height: 3rem;
            margin-bottom: 1.5rem;
            margin-right: 1.2rem;
            display: flex;
            align-items: center;

            @include phone {
              height: 2rem;
              margin-right: 0.8rem;
              margin-bottom: 1rem;
            }
          }

          span.bold-btn {
            font-weight: 700;
            font-size: 2.9rem;

            @include phone {
              font-size: 2rem;
            }
          }
        }
      }

      .graph {
        display: flex;
        align-items: flex-end;
        gap: 1.2rem;
        height: 150px;
        width: 300px;

        @include big-phone {
          justify-content: center;
        }

        .bar {
          position: relative;
          width: 50px;
          background: #e9ff52;
          height: 0;
          border-radius: 6px 6px 0 0;
          transition: height 1s ease-out;
        }

        .bar span {
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%) translateY(-6px);
          background: #000;
          color: #e9ff52;
          font-size: 1.4rem;
          padding: 3px 6px;
          border-radius: 4px;
          opacity: 0;
          transition: opacity 0.6s ease 0.8s;
        }
      }

      .info-text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content;

        @include big-phone {
          align-items: center;
        }

        .paragraph.bg {
          text-align: center;
          display: flex;
          align-items: center;
        }

        .add-icon {
          position: absolute;
          background-color: $accent-color;
          padding: 1.4rem;
          border-radius: 50%;
          top: 2rem;
          left: -3.5rem;

          @include medium-phone {
            top: 0rem;
            left: 19rem;
            padding: 1rem;
          }

          &:hover {
            animation: rotate 1s ease;
          }
        }
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include big-phone {
        justify-content: center;
        align-items: center;
      }
      .textbox {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include big-phone {
          text-align: center;
        }

        .text {
          display: flex;
          flex-direction: column;
          gap: 1.4rem;
          margin-top: 2rem;
        }
      }

      .growth-btn {
        display: flex;
        border-bottom: 1.5px solid $accent-color;
        width: fit-content;
        align-items: center;

        @include big-phone {
          margin-top: 5rem;
        }

        img {
          margin-bottom: -2rem;

          @include phone {
            height: 4rem;
            padding-bottom: 1rem;
          }
        }
      }
    }

    &--update {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 3rem;
      background: linear-gradient(180deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
      border: 1px solid #333;
      gap: 10rem;

      @include big-phone {
        justify-content: center;
        align-items: center;
      }

      @include small-phone {
        gap: 4rem;
      }

      .loader-container {
        .loader-count {
          height: 30vh;
          width: 100%;

          margin-bottom: 5rem;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .loader-range {
          width: 100%;
          background-color: #2e2e2e;
        }
      }

      .checking-cards {
        .card-img {
          height: 45vh;
          width: 100%;

          @include phone {
            height: 35vh;
          }

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      .info-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        @include big-phone {
          align-items: center;
        }

        .info-text--wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1.4rem;

          @include big-phone {
            width: 100%;
          }
        }

        .add-icon {
          background-color: $accent-color;
          padding: 1.4rem;
          border-radius: 50%;
          top: 2rem;
          left: -3.5rem;

          @include medium-phone {
            top: 0rem;
            left: 19rem;
            padding: 1rem;
          }

          &:hover {
            animation: rotate 1s ease;
          }
        }
        .paragraph.bg {
          @include big-phone {
            align-items: center;
          }
        }
      }
    }
  }
}
.work {
  &__wrapper,
  &__content {
    display: flex;
    justify-content: center;
    width: 100%;

    &--wrapper {
      width: 100%;
      margin-bottom: 2rem;
      border-bottom: 1px solid #333;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    gap: -4rem;

    @include tab-land--sm {
      flex-direction: column;
      gap: 2rem;
    }
    .paragraph.bg {
      display: flex;
      align-self: flex-end;
      width: 25rem;
      margin-bottom: 4rem;

      @include tab-land--sm {
        width: 90%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .heading-secondary.s-bg {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-table;
    line-height: 16rem;

    @include tab-port {
      line-height: 4rem;
    }

    .h-block {
      display: block;
    }
  }
}

//  graph animation
.graph.animate .bar {
  height: var(--h);
}

.graph.animate .bar span {
  opacity: 1;
}
