@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  //   &_wrapper {
  //   }

  &_text {
    .heading-primary.bg {
      text-align: center;
    }
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .info-line--wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .paragraph {
        width: 20%;
      }
    }

    .info-text--wrapper {
      position: relative;
      background-color: $subtle-grey;
      padding: 2rem 5rem;
      width: max-content;
      display: flex;
      align-items: center;
      gap: rem;
      border-radius: $border-radius-bg;

      .info-text {
        margin-right: 3rem;
      }

      .info-icon {
        position: absolute;
        right: -3rem;
        img {
          background-color: $accent-color;
          padding: 1.4rem;
          border-radius: 50%;
        }
      }
    }
  }

  &_card--wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }

  .header_cards {
    position: absolute;
    top: 0; // keep them close to the button
    left: 50%;
    transform: translateX(-50%);
    top: -15rem;

    .header_card {
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 20px;
      transform: translateX(-50%);

      &.cd-1 {
        position: relative;
        z-index: 3;
        bottom: 10rem;

        img {
          // backdrop-filter: blur(70px);
        }

        .heading-tertiary.sm {
          position: absolute;
          bottom: 14rem;
          right: 19rem;
          transform: skewy(-20deg);
        }
      }

      &.cd-2 {
        z-index: 2;
        top: 20rem;
      }

      &.cd-3 {
        z-index: 1;

        top: 40rem;
      }
    }
  }
}
