@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  &_wrapper {
    margin-bottom: 10rem;
  }

  &_text {
    .heading-primary.p-bg {
      text-align: center;
    }
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @include tab-port {
      display: none;
    }

    .info-line--wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .paragraph {
        width: 30%;
      }
    }

    .info-text--wrapper {
      position: relative;
      background-color: $subtle-grey;
      padding: 2rem 5rem;
      width: max-content;
      display: flex;
      align-items: center;
      gap: rem;
      border-radius: $border-radius-bg;

      .info-text {
        margin-right: 3rem;
      }

      .info-icon {
        position: absolute;
        right: -3rem;
        img {
          background-color: $accent-color;
          padding: 1.4rem;
          border-radius: 50%;
        }
      }
    }
  }

  &_card--wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    .desktop {
      display: flex;
      @include tab-land {
        display: none;
        // background-color: blue;
      }
    }

    .mobile {
      display: none;

      @include tab-land {
        display: flex;
        justify-content: center;
        height: 50vh;
        width: 50rem;
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 20px;
        transform: translateX(-50%);

        // background-color: #fff;
      }
    }
  }

  &_card--btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;
    border-radius: $border-radius-bg;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #4e575f 0%, #1f1f1f 100%);
    top: -12rem;
    left: 50%;
    z-index: 1;
    cursor: pointer;

    @include tab-land {
      top: -2rem;
    }

    @include big-phone {
      padding: 1rem 1.4rem;
    }

    &_card--btn:hover {
      background: linear-gradient(180deg, #60686f 0%, #2a2a2a 100%);
    }

    .btn-arrow {
      display: inline-block;
      width: 5rem;

      @include big-phone {
        width: 3rem;
      }
    }

    .accent {
      top: 30rem;
      display: flex;
      align-items: center;
      color: $accent-color;
      font-size: 2.7rem;

      @include big-phone {
        font-size: 2.2rem;
        font-weight: 500;
      }
    }
  }

  &_cards {
    position: absolute;
    top: 0; // keep them close to the button
    left: 50%;
    transform: translateX(-50%);
    top: -15rem;

    .header_card {
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 20px;
      transform: translateX(-50%);
      height: 50vh;
      width: 50rem;

      img {
        height: 100%;
        width: 100%;
      }

      &.cd-1 {
        position: relative;
        z-index: 3;

        .heading-tertiary.sm {
          font-weight: 500;
          font-family: $secondary-font;
          bottom: -5rem;
          height: 50vh;
          right: 11rem;
          width: 35rem;
          position: absolute;
          background-color: rgb(255, 255, 255, 0.5);
          backdrop-filter: blur(5px);
          transform: skew(-19deg, -25deg);
          border-radius: $border-radius-sm;
          border: 1px solid $white;

          span {
            font-size: 2.7rem;
            right: 1rem;
            bottom: 1.5rem;
            position: absolute;
            z-index: 10;
            font-weight: 500;
            font-family: "Montserrat Alternates", sans-serif;
            padding: 2rem;
          }
        }
      }

      &.cd-2 {
        z-index: 2;
        top: 20rem;
      }

      &.cd-3 {
        z-index: 1;
        top: 35rem;
      }
    }
  }

  &_rating {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tab-port {
      flex-direction: column;
      position: absolute;
      bottom: 10rem;
      margin-top: 15rem;
    }

    .rate-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.3rem;
      width: 20rem;
      border-radius: $border-radius-sm;
      padding: 3rem;
      position: relative;
      bottom: 10rem;

      @include tab-port {
        display: none;
      }
    }

    .white-border {
      border: 1px solid $border-color-dark;
      @include tab-port {
      }
    }
    .accent-border {
      border: 1px solid $accent-color;
    }
  }
  &_logos {
    margin-top: 50rem;
    .logo-marquee {
      overflow: hidden;

      width: 100%;

      .logo-track {
        border-top: 1px solid $border-color-light;
        border-bottom: 1px solid $border-color-light;
        display: flex;
        width: max-content;
        animation: scroll $marquee-speed linear infinite;
        padding: 5rem 0;

        margin-top: 5rem;

        .header_logo {
          flex: 0 0 auto;
          padding: 0 5rem;

          &:not(:last-child) {
            border-right: 1px solid $border-color-light;
          }

          img {
            height: 5rem;
            width: auto;

            @include tab-port {
              height: 2.5rem;
            }
          }
        }
      }
    }
  }
}
