@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 1.4rem 0;

  &_logo {
    height: 7rem;
  }

  &_list {
    display: flex;
    align-items: center;
    color: $secondary-color;
    gap: 5rem;
    justify-content: center;

    .nav-item {
      font-family: $secondary-font;
    }
  }

  &_list li {
    font-weight: 400;
  }

  &_action {
    font-family: $secondary-font;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .fb {
      border: 1px solid $secondary-color;
      border-radius: $border-radius-md;
      padding: 1.4rem 2rem;

      .nav-btn--dash {
        font-size: 1.6rem;
        font-weight: 500;
        font-family: $secondary-font;
      }

      .nav-btn--text {
        font-family: $secondary-font;
        font-size: 1.4rem;
        font-weight: 400;
        color: $grey-color;
      }
    }
  }
}
